.TodoListItem {
    padding: 1rem;
    display: flex;
    align-items: center;
    box-shadow: 1px 2px 5px 1px #f67280;
    /* &:nth-child(even){
        background: #f8f9fa;
    } */
}
.checkbox{
    cursor: pointer;
    flex: 1;
    display: flex;
    align-items: center;
    /* svg{
        font-size: 1.5rem;
    } */
}
.checkbox svg {
    font-size: 1.5rem;
    color: #f67280;
}
.checkbox .text {
    margin-left: 0.5rem;
    flex: 1;
}
.checkbox.checked .text{
    color: #6c567b;
    text-decoration: line-through;
    cursor: pointer;
    opacity: 0.6;
}
.remove {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: #ff6b6b;
    cursor: pointer;
    /* &:hover{
        color: #ff8787;
    } */
}
/* .checked{
    color: #22b8cf;
    
} */
.fix{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: #ff6b6b;
    cursor: pointer;
}
